import telebot

bot = telebot.TeleBot('6787174436:AAF6F-dyyrv30-S-ic_lkn2pMmJ7Q1imPtU')

@bot.message_handler(commands=['start'])
def start_message(message):
    bot.reply_to(message, 'Привет!')

bot.polling()
